

body
{
    text-align:center;
    background:linear-gradient(120deg,#ddabab,#d7deba);
    overflow:hidden;
}
.container
{
    height:100vh;
    width:180vh;
    background-color:#88A7A9;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50px;
}
.hello
{
    background:linear-gradient(90deg,#f7caca,#ffa4a4);
    height:200px;
    background-size:cover;
    background-position:center;
    width:400px;
    border-radius:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:Arial, Helvetica, sans-serif;
    font-size:200%;
    animation:jadu 2s ease 5s
    ,fadeout 7s forwards;
}
.hello2
{
    background:linear-gradient(90deg,#f7caca,#ffa4a4);
    height:200px;
    background-size:cover;
    background-position:center;
    width:400px;
    border-radius:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:Arial, Helvetica, sans-serif;
    font-size:200%;
    
    animation:jadu2 2s ease 0s,
    fadeout 3s forwards;
}
.tree
{
    position:relative;
    width:400px;
    height:400px;
    right:10px;
}
.trunk
{
    height:200px;
    width:60px;
    border-radius:30px;
    background-color:#d15c47fd;
    position:absolute;
    bottom:0px;
    right:220px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.15);
}
.lea2
{
    height:200px;
    width:200px;
    background-color:#59D65D;
    position:absolute;
    border-radius:100%;
    left:50px;
    bottom:200px;
    opacity:0.9;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.15);
} 
.lea
{
    height:200px;
    width:200px;
    background-color:#59D65D;
    position:absolute;
    border-radius:100%;
    left:100px;
    bottom:100px;
    opacity:0.9;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.15);
}
.lea3
{
    height:200px;
    width:200px;
    background-color:#59D65D;
    position:absolute;
    border-radius:100%;
    left:0px;
    bottom:100px;
    opacity:0.9;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.15);
}
@keyframes jadu
{
    0%
    {
        transform:translateX(200px);
        opacity:0;
    }
    100%
    {
        transform:translateX(0px);
        opacity:1;
    }
}
@keyframes jadu2
{
    0%
    {
        transform:translateX(-200px);
        opacity:0;
    }
    100%
    {
        transform:translateX(0px);
        opacity:1;
    }
}
@keyframes fadeout
{
    0%
    {
        opacity :1;
        transform:scale(1);
    }
    50%
    {
        opacity:0.9;
        tarnsform:scale(1.2);
    }
    100%
    {
        opacity:0;
        transform:scale(0.8);
    }
}
.pro
{
    width:900px;
}
